html, body, #root {
    height: 100%;
    margin: 0;
}
body {
    background: #d38312; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d38312, #a83279); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d38312, #a83279); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}